version: "3.9"

services:
  crawler:
    build: .
    container_name: bbc_goodfood_pipeline
    ports:
      - "8222:8222"
    volumes:
      - data:/app/data
    restart: unless-stopped

volumes:
  data:
