version: "3.9"

services:
  crawler:
    build: .
    container_name: bbc_goodfood_crawler
    ports:
      - "8000:8000"
    volumes:
      - data:/app/data
    restart: unless-stopped

volumes:
  data:
